* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  height: 150px;
  background-color: aqua;

}



nav {
  float: right;
  margin-top: 50px;
  margin-right: 10px;
}

nav a {
  padding: 10px;
}

nav a:hover{
  color: black;
}

.logo {
  height: 180px;
  width: 260px;
  float: left;
  padding: 10px;
  margin-left: 15px;
}

.logo h1 {
  font-size: 36px;
  color: brown;
}

.container {
  width: 1100px;
  border: 1px solid gray;
  border-radius: 5px;
  float: left;
  margin:5px;
  
}

#hakkimizda img {
  float: left;
  padding: 7px;
}

#hakkimizda h1 {
  padding: 5px;
}


#urunler h1 {
  padding: 5px;
}

.urun-list {
  float: center;
  display: inline-block;
  padding: 15px;
}

.urun-list h1 {
  font-size: 20px;
}

.urun-list img {
  width: 100px;
  height: 100px;
}
